html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --background-color: #F5F5F5;
    --top-color: #2E2F42;
    --paragraph-color: #434455;
    --button-color: #4D5AE5;
    --footer-bgcolor: #2F303A;
    --light-color: #757575;
    --team-color: #F4F4FD;
    --pressed-state: #404BBF;
    --cubik-time: cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
    font-family: 'Roboto', sans-serif;
    color: var(--top-color);
}

.list
{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
    color: inherit;
}

.container {
        max-width: 428px;
        padding-right: 15px;
        padding-left: 15px;
        margin-left: auto;
        margin-right: auto;

    }

    @media screen and (min-width: 768px)
    {
        .container {
            max-width: 768px;
        }
       
    }

    @media screen and (min-width: 1200px)
    {
        .container {
            max-width: 1158px;
        }
    }

    /* HEADER */

    /* ABOUT */
    
    .about {
        padding: 96px 0;
    }

    @media screen and (min-width: 1130px)
    {
        .about {
            padding: 120px 0;
        }
    }

    .invisible-title {
        visibility: hidden;
    }

.bg-icon-about {
    display: none;
}

@media screen and (min-width: 1130px)
{
    .bg-icon-about {
        display: block;
        background-color: #F4F4FD;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.about-studio {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--top-color);
}

    @media screen and (min-width: 768px)
    {
        .about-studio {
            text-align: left;  
         }
    }

    @media screen and (min-width: 1130px)
    {
        .about-studio {
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            margin-top: 8px;
            }
    }

    .text-about {
        font-weight: 500;
        font-size: 16px;
        line-height: calc(24/16);
        letter-spacing: 0.02em;
        color: var(--paragraph-color);
    }

    @media screen and (min-width: 1130px)
    {
        .text-about {
            font-weight: 400;
        } }

    @media screen and (min-width: 768px)
    {
        .about-list {
            display: flex;
            row-gap: 72px;
            column-gap: 24px;
            flex-wrap: wrap;
            align-items: center;
        }}

    @media screen and (max-width: 767.98px) {
        .about-item:not(:last-child) {
            margin-bottom: 72px;
        }}

    @media screen and (min-width: 768px)
    {
        .about-item {
            width: calc((100% - 24px) / 2);
        }
    }

@media screen and (min-width: 1130px)
{
    .about-list {
        gap: 24px;
        flex-wrap: nowrap;
    }}

/*  WORK */

.work {
    display: none;
}

@media screen and (min-width: 1130px)
{
    .work {
        display: block;
        padding-bottom: 120px;
    }
    
    .work-img {
        display: flex;
        gap: 24px;
        justify-content: space-around;
    }
    
    .work-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--top-color);
    margin-bottom: 72px;
    }}



/* CUSTOMERS*/

.customers {
    padding: 96px 0;
    }

    @media screen and (min-width: 1130px)
    {
        .customers {
            padding: 120px 0;
            }}

    .custom-title {
        font-weight: 700;
        font-size: 36px;
        line-height: calc(40/36);
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--top-color);
        margin-bottom: 72px;
    }

    .custom-items {
        display: flex;
        row-gap: 72px;
        column-gap: 16px;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;}

    @media screen and (min-width: 768px)
    {
        .custom-items {
            column-gap: 24px;
        }}

    @media screen and (min-width: 1130px)
    {
        .custom-items {
            flex-wrap: nowrap;
        }}

    .partnes {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        color: #8E8F99;
        transition-property: border-color, color;
        transition-duration: 250ms;
        transition-timing-function: var(--cubik-time);}

    .partnes:hover,
    .partnes:focus {
   border-color: var(--pressed-state);
   color: var(--pressed-state);}

    .logo-customers:hover,
    .logo-customers:focus {
    fill: var(--pressed-state);
}

.logo-customers {
    fill: currentColor;
}

.clients {
    width: calc((100% - 30px) / 2);
}

@media screen and (max-width: 768px)
    {
        .clients {
            height: 88px;
}
        }

@media screen and (min-width: 768px)
    {
        .clients {
            width: 168px;
            height: 88px;
}
        }

/* FOOTER */

.footer {
    background-color: var(--top-color);
    padding: 96px 0;
    text-align: center;
}

    @media screen and (min-width: 768px)
    {
        .footer {
            text-align: left;
        }
    }

@media screen and (min-width: 1130px)
    {
        .footer {
            padding: 100px 0;        }
    }

    .footer-flex {
        align-content: center;
    }

    @media screen and (min-width: 768px) {
    .footer-flex {
    display: flex;
    flex-wrap: wrap;
    padding-left: 108px;}
}

@media screen and (min-width: 1130px)
    {
        .footer-flex {
            display: flex;
            flex-wrap: nowrap;
            }}

    .footer-logo-text {
        margin-bottom: 72px;
    }

    @media screen and (min-width: 1130px)
    {
        .footer-logo-text {
            margin-right: 120px;
            text-align: left;
        }}

    .social-media {
        margin-left: 24px;
    }


.logo-footer {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--team-color);
    text-decoration: none;
    text-transform: uppercase;
    }

.color-logo {
    color: var(--button-color);}

.log-footer {
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .log-footer {
        justify-content: left;
    }}

.footer-par {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    max-width: 264px;
    margin: 0 auto;
    width: 264px;
}

/* @media screen and (min-width: 1130px)
{
    .footer-par {
        display: block;
    }
} */

.style-sm {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px)
    {
        .style-sm {
            margin-top: 0;
        }
    }

.social-media {
    margin-bottom: 72px;}

    .icons-footer {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    .circle-team-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }

.item-social-footer {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubik-time);}

.item-social-footer:hover,
.item-social-footer:focus {
    background-color: #31D0AA;}

    .footer-mail-button {
        align-content: center;
    }



    @media screen and (min-width: 1130px)
    {
        .footer-form {
            margin-left: 80px;
        }
    }

    

    @media screen and (min-width: 768px)
    {
        .footer-mail-button {
            display: flex;
            justify-content: center;
        }
    }

    .mail-footer {
        height: 40px;
        width: 396px;
        background-color: transparent;
        background-origin: content-box;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        outline: none;
        padding: 8px 16px;
        margin-bottom: 16px;
        color: #FFFFFF;
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: var(--cubik-time);
    }

    @media screen and (min-width: 768px)
    {
        .mail-footer {
            width: 264px;
        }
    }

    .mail-footer:focus {
        border-color: var(--button-color);
    }

    .mail-footer::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: calc(24/12);
        letter-spacing: 0.04em;
        color: rgba(255, 255, 255, 0.6);
        }

.footer-button {
        display: flex;
        margin: 0 auto;
        width: 165px;
        height: 40px;
        align-items: center;
        cursor: pointer;
        background-color: var(--button-color);
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        line-height: calc(24/16);
        letter-spacing: 0.04em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 8px 24px;
        border: none;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: var(--cubik-time);
    }

    @media screen and (min-width: 768px)
    {
        .footer-button {
            margin-left: 24px;
        }
    }
        
    .footer-button:hover,
    .footer-button:focus
     {
        background-color: var(--pressed-state);
     }

     .paper-plane {
        fill: #FFFFFF;
        margin-left: 16px;    }



    /* 
    @media screen and (min-width: 768px)
    {
        
    }

    @media screen and (min-width: 1130px)
    {
        
    }
     */