html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --background-color: #F5F5F5;
    --top-color: #2E2F42;
    --paragraph-color: #434455;
    --button-color: #4D5AE5;
    --footer-bgcolor: #2F303A;
    --light-color: #757575;
    --team-color: #F4F4FD;
    --pressed-state: #404BBF;
    --cubik-time: cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
    font-family: 'Roboto', sans-serif;
    color: var(--top-color);
}

.list
{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
    color: inherit;
}

.container {

        padding-right: 15px;
        padding-left: 15px;
        width: 428px;
        margin-left: auto;
        margin-right: auto;

    }

    @media screen and (min-width: 767px)
    {
        .container {
            width: 767px;
        }
       
    }

    @media screen and (min-width: 1130px)
    {
        .container {
            width: 1130px;
            padding-right: 15px;
            padding-left: 15px;
        }
    }

    /* ABOUT */
    
    .about {
        padding: 96px 0;
    }

    @media screen and (min-width: 1130px)
    {
        .about {
            padding: 120px 0;
        }
    }

    .invisible-title {
        visibility: hidden;
    }



.about-item:not(:last-child) {
    margin-bottom: 72px;
}

.bg-icon-about {
    display: none;
}

.about-studio {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--top-color);
}

    @media screen and (min-width: 767px)
    {
        .about-studio {
            text-align: left;  
         }
    }

    @media screen and (min-width: 1130px)
    {
        .about-studio {
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            margin-top: 8px;
            }
    }

    .text-about {
        font-weight: 500;
        font-size: 16px;
        line-height: calc(24/16);
        letter-spacing: 0.02em;
        color: var(--paragraph-color);
    }

    @media screen and (min-width: 1130px)
    {
        .text-about {
            font-weight: 400;
        } 
    }

    @media screen and (min-width: 767px)
    {
        .about-list {
            display: flex;
            gap: 72px 24px;
            flex-wrap: wrap;
            
        }
    }

    @media screen and (min-width: 767px)
    {
        .about-item {
            width: calc((100% - 24px) / 2);
        }
    }

@media screen and (min-width: 1130px)
{
    .about-list {
        display: flex;
        gap: 24px;
        justify-content: space-between;
}
}





/* Customers */

.customers {
    padding: 96px 0;
    }

    @media screen and (min-width: 1130px)
    {
        .customers {
            padding: 120px 0;
            }
    }

    .custom-title {
        font-weight: 700;
        font-size: 36px;
        line-height: calc(40/36);
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--top-color);
        margin-bottom: 72px;
    }

    .custom-items {
        display: flex;
        gap: 72px 16px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    @media screen and (min-width: 767px)
    {
        .custom-items {
            gap: 72px 24px;
        }
    }

    @media screen and (min-width: 1130px)
    {
        .custom-items {
            gap: 0 24px;
            flex-wrap: nowrap;
        }
    }

    .clients {
        width: calc((100% - 20px) / 2);
        fill: currentColor;

    }

    @media screen and (min-width: 767px)
    {
        .clients {
            width: calc((100% - 52px) / 3);    
        }
    }


    .partnes {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 190px;
        height: 88px;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        color: #8E8F99;
        transition-property: border-color, color;
        transition-duration: 250ms;
        transition-timing-function: var(--cubik-time);
    }

    .partnes:hover,
    .partnes:focus {
   border-color: var(--pressed-state);
   color: var(--pressed-state);
}

    .logo-customers:hover,
    .logo-customers:focus {
    fill: var(--pressed-state);
}

.logo-customers {
    fill: currentColor;
}

    /* 
    @media screen and (min-width: 767px)
    {
        
    }

    @media screen and (min-width: 1130px)
    {
        
    }
     */